@model GEEData.Eventos
@{
    Layout = null;
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}

<!DOCTYPE html>

<script>
    function formatar(mascara, documento) {
        var i = documento.value.length;
        var saida = mascara.substring(0, 1);
        var texto = mascara.substring(i)

        if (texto.substring(0, 1) != saida) {
            documento.value += texto.substring(0, 1);
        }
    }
</script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateEvento</title>
</head>
<body>
    <div> 
        
            <div class="panel panel-default">
                <div class="panel-heading">Criar Evento</div>
                <div class="panel-body">
                   <div class="form-group">
                       <form name="CreateEvento" action="CreateEvento" method="post">
                           <label>Nome do Evento</label>
                           <input class="form-control" name="NomeEvento"  type="text" placeholder="Nome" required />
                           <label>Cidade</label>
                           <input  class="form-control" name="CidadeEvento" type="text" placeholder="Cidade" required/>
                           <label>Data</label>
                           <input class="form-control" name="DataEvento" type="text" required onkeypress="formatar('####-##-##', this)" maxlength="10" placeholder="Data" />
                           <label>Quantidade de Horas</label>
                           <input class="form-control" name="Qtd_horasEvento" type="text" placeholder="Quantidade de Horas" required />
                           <label>Descrição</label>
                           <textarea class="form-control" placeholder="Descrição" name="DescEvento" required></textarea>
                           <br />
                           <label>Subarea</label>
                          @Html.DropDownList("listaSubA", null, "Selecione a Area", new { @class = "form-control" })
                           <br />
                           <input type="submit" class="btn btn-success" value="Salvar" />
                          
                       </form>
                       
                       
                   </div>
                  
                </div>
            </div>
       
    </div>
</body>
</html>
