@model GEEData.Eventos
@{
    Layout = null;
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailEvent</title>
</head>
<body>
    <div> 
        
            <div class="panel panel-default">
                <div class="panel-heading">Detalhes Evento</div>
                <div class="panel-body">
                   
                        <center><h4>@Model.nome</h4></center>
                        <br />
                        <br />
                            <div class="row">
                                <div class="col-md-4">Quantida de Horas:@Model.qtd_horas</div>
                                <div class="col-md-4">Cidade:@Model.cidade</div>
                                <div class="col-md-4">Data:@Model.data</div>                                
                            </div>
                        <textarea class="form-control" rows="3">@Model.descricao</textarea>

                    
                </div>
            </div>
        
    </div>
</body>
</html>
