@{
    ViewBag.Title = "Home Page";
    Layout = null;
    @Styles.Render("~/Content/css")    
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    
}
<script>
    function formatar(mascara, documento) {
        var i = documento.value.length;
        var saida = mascara.substring(0, 1);
        var texto = mascara.substring(i)

        if (texto.substring(0, 1) != saida) {
            documento.value += texto.substring(0, 1);
        }
    }
</script>
<div class="navbar-fixed-top navbar-default">
    <div class="navbar-inner">
        <div class="container">
            <br />
            <form name="LoginAdm" class="form-horizontal " method="post" action="LoginAdm">
                <input class="navbar-collapse form-control-static" type="text" placeholder="CPF" name="CpfAdm" onkeypress="formatar('###.###.###-##', this)" maxlength="14" required />
                <input class="navbar-collapse form-control-static" type="password" placeholder="senha" name="SenhaAdm" required />
                <button class="btn-default btn" type="submit"  >
                  Entrar
                </button>
            </form>
        </div>
    </div>
</div>


<div class="content" aling="center">
    <div class="span12">
        <div class="info" >
            <h1 class="text-center" >
                <p align="center">
                    <font size="+5" color="red" face="Comic Sans MS, cursive">

                        &nbsp;
                    </font>
                </p>
                <p>
                    <font size="28" color="gray" face="Book Antiqua">
                         Gerenciador de Eventos
                    </font>
                   
                </p>
                
            </h1>
        </div>
        <p align="center">
            <font size="+4" color="red" face="Comic Sans MS, cursive">

                &nbsp;
            </font>
        </p>

    </div>
    <div class="row" align="center">
        <table class="table-bordered  " >
            <tbody>
                <tr>
                    <td width="256" height="218">
                        <form class="form-group" method="post" action="ListaEventos">
                            <input type="text" onkeypress="formatar('###.###.###-##', this)" placeholder="CPF" class="form-control" maxlength="14" required value="" />
                            <br />
                            <center><button type="submit" class="btn btn-success">Entrar</button></center>
                        </form> 
                    </td>    
                    <td width="256" height="218" align="center" valign="middle">                        
                        
                        <center><button class="btn btn-default" data-toggle="modal" data-target="#Cadastro">Cadastre-se</button></center>

                    </td>                
                </tr>

            </tbody>

        </table>

    </div>
    
    
</div>



<!-- Modal -->
<div class="modal fade" id="Cadastro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <center><h4 class="modal-title" id="myModalLabel">Cadastro</h4></center>
            </div>
            <div class="modal-body">
                <!-- Corpo do Cadastro-->
                <form class="panel-body" name="formCadastrarPessoa" method="post" action="CadastrarPessoa">
                    <div class="col-xs-6">
                        <input class="form-control" type="text" placeholder="Nome" name="NomeCadastrar" />
                        <br />

                        <input class="form-control" type="tel" placeholder="Telefone" name="TelCadastras" />
                    </div>
                    <div class="col-xs-6">
                        <input class="form-control" type="text" placeholder="CPF" name="CPFCadastrar" maxlength="14" onkeypress="formatar('###.###.###-##', this)" />
                        <br />
                        <input class="form-control" type="email" placeholder="E-mail" name="EmailCadastrar" />
                    </div>
</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Cadastrar </button>
            </div>
            </form>
        </div>
    </div>
</div>

<script>
    if(@ViewBag.resposta==true){
        alert("cadastrado com sucesso");
    }else{
        alert("falhooo");
    }
</script>