@model IEnumerable<GEEData.Eventos>
         
@{
    Layout = null;
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    //View de usuario comum
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListaEventos</title>
    <p class="navbar-text navbar-fixed-top">Logado Como:@ViewBag.nome</p>
</head>
<body>
    <br />
    <div class="col-md-6 col-md-offset-3">
        <center>
            <table class="table table-hover">
                <tr>
                    <th>Nome</th>
                    <th>Quantidade De Horas</th>
                    <th>Detalhes</th>
                    
                </tr>
                @foreach (var e in Model)
                {
                    <tr>
                        <td>@e.nome</td>
                        <td>@e.qtd_horas</td>
                        <td><button class="btn btn-default">@Html.ActionLink("Detalhes", "DetailEvent", new { id = e.id })</button></td>
                        <td><button class="btn btn-success">@Html.ActionLink("Inscrever-se", "SubEvento", new { idPessoa = ViewBag.idPessoa, idEvento = e.id })</button></td>
                       
                       
                        
                    </tr>
                }
            </table>
        </center>
    </div>
    <br />
    <br />
    <br />
    <div>
     
    </div>

</body>



</html>
