
<h2>Olá, @Html.Partial("_Adm", (string)@ViewBag.IdAdm)</h2>

@{
    Layout = null;
    @Styles.Render("~/Content/css")    
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eventos</title>
     
     
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qtd_horas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.nome)</td>
                <td>@Html.DisplayFor(modelItem => item.descricao)</td>
                <td>@Html.DisplayFor(modelItem => item.cidade)</td>
                <td>@Html.DisplayFor(modelItem => item.qtd_horas)</td>
                <td>@Html.DisplayFor(modelItem => item.data)</td>
                <td>
                    @Html.ActionLink("Editar", "EditEvento", new { id = item.id })
                @Html.ActionLink("Deletar", "DeleteEvento", new { id = item.id })
            </td>
        </tr>
        }
    </table>
        <br />
        <br />

        <div class="col-xs-6 col-sm-4">
            <button class="btn btn-default">@Html.ActionLink("Criar Evento", "CreateEvento", "LoginAdm")</button>
        </div>
        >>>>>>> cda8934f199d66188b0bca37a7fd855a2a42936f
</body>

  
</html>
