
@{
    Layout = null;
    @Styles.Render("~/Content/css")    
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginAdm</title>
      
    <ul class="nav nav-pills navbar-fixed-top">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Eventos</a></li>
        <li role="presentation"><a href="#">Usuários</a></li>
        <li role="presentation"><a href="#">Pagamento</a>


    </ul>
     
</head>
<body>
    <div> 
    </div>
</body>
</html>
