@model IEnumerable<GEEData.Eventos>
<h2>Olá</h2>

@{
    Layout = null;
    @Styles.Render("~/Content/css")    
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eventos</title>
     
     
</head>
<body>
    <center>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.qtd_horas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.data)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.qtd_horas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.data)
                    </td>
                    <td>


                        @Html.ActionLink("Delete", "DeleteEvento", new { pId = item.id })
                    </td>
                </tr>
            }

        </table>
    </center>

        <br />
        <br />

        <div class="col-xs-6 col-sm-4">
            <button class="btn btn-default">@Html.ActionLink("Criar Evento", "CreateEvento", "Home")</button>
        </div>
       
</body>

  
</html>
