
<h2>Olá, @Html.Partial("_Adm", (string)@ViewBag.IdAdm)</h2>

@{
    Layout = null;
    @Styles.Render("~/Content/css")    
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eventos</title>
     
     
</head>
<body>
    <center>
    @Html.Partial("IndexEventos")
    </center>

        <br />
        <br />

        <div class="col-xs-6 col-sm-4">
            <button class="btn btn-default">@Html.ActionLink("Criar Evento", "CreateEvento", "Home")</button>
        </div>
       
</body>

  
</html>
