
<h2>Olá, @Html.Partial("_Adm", (string)@ViewBag.IdAdm)</h2>

@{
    Layout = null;
    @Styles.Render("~/Content/css")    
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginAdm</title>
     
     
</head>
<body>
<<<<<<< HEAD
    @Html.Partial("_IndexEventos")
=======
   

    <br />
    <br />
   
    <div class="col-xs-6 col-sm-4">
       <button class="btn btn-default">@Html.ActionLink("Criar Evento", "CreateEvento", "LoginAdm")</button>
    </div>
>>>>>>> cda8934f199d66188b0bca37a7fd855a2a42936f
</body>

  
</html>
