


@{
    Layout = null;
    @Styles.Render("~/Content/css")    
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginAdm</title>
     
     
</head>
<body>
    
</body>

  
</html>
